.App {
  text-align: center;
  font-family: lato, sans-serif;
  font-size: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.tankDemo h1 {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Tank {
  height: 15px;
}

.Building {
  height: 30px;
}

.query {
  margin: 20px;
}

.inProcess {
  margin-left: 65px;
  margin-top: 20px;
  color: blue;
}

.completed {
  margin-left: 20px;
}

.query input {
  width: 55%;
}

.query .key {
  width: 100px;
}

.query button {
  margin-left: 10px;
}

.question {
  background: red;
}

.help {
  margin: 20px;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.world {
  height: 280px;
  border-style: solid;
  margin: 20px;
  background: lightgreen;
}

.foodOrders {
  height: 280px;
  border-style: solid;
  margin: 20px;
  background: lightblue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.layout {
  background-color: whitesmoke;
}

.about {
  padding-top: 25px;
  padding-left: 25px;
}

.logo {
  padding-top: 1px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 40px;
  background-image: url("./logo_image.jpg");
  border-top-style: solid;
  border-bottom-style: double;
}

.tutorial h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top-style: solid;
  border-bottom-style: double;
  color: black;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}
.tutorial .step1 {
  background-image: url("./logo_image.jpg");
  background-position: 0px 300px;
}

.tutorial .step2 {
  background-image: url("./logo_image.jpg");
  background-position: 0px 900px;
}

.tutorial .step3 {
  background-image: url("./logo_image.jpg");
  background-position: 0px 150px;
}

.tutorial .step4 {
  background-image: url("./logo_image.jpg");
  background-position: 0px 550px;
}

.logo .name {
  display: inline;
  padding: 10px;
  width: 500px;
#  background:
#    radial-gradient(lightgreen 3px, transparent 4px),
#    radial-gradient(lightgreen 3px, transparent 4px),
#    linear-gradient(#fff 4px, transparent 0),
#    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
#    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
#    #fff;
#    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
#    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
#  background-color: lightgreen;
  font-weight: bold;
}

.bar {
  line-height: 27px;
  width: 100%;
}

.barItem {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rbg(119,119,119);
  outline-color: rbg(119,119,119);
  text-decoration-color: rbg(119,119,119);
}

.barItem:hover {
  background-color: lightgrey;
}

.credentials {
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
  margin-left: 10px;
}

.configProps {
  padding-left: 3px;
}

#server {
  width: 200px;
}

.product {
  text-align: center;
}

.product .name {
  margin-top: 50px;
  line-height: 45px;
  font-size: 35px;
  font-weight: bold;
}

.product .brief {
  font-style: italic;
  font-size: 10px;
}

.product .details {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.product code {
  font-family: courier;
  display: block;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}

code {
  font-family: courier;
  display: block;
  padding-left: 100px;
  display: table;
}

#contact-form {
  align: center;
  float: left;
  display: inline-block;
}

#contact-form label {
  width: 200px;
}

.form-control {
  display: inline-block;
  width: 500px;
}

.form-control .message {
  height: 500px;
}

.quote {
  font-family: courier;
  font-size: 15px;
}

pre {
  margin-left: 100px;
  margin-right: 100px;
  background-color: lightgray;
}

.tutorial {
  padding-left: 50px;
  padding-right: 50px;
}

.purchase {
  padding-left: 50px;
  padding-right: 50px;
}

.purchase p {
  padding-left: 20px;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid black;
}

.subscriptions {
  padding-left: 50px;
  padding-right: 50px;
}

.subscriptions .line {
  margin-top: 10px;
}

.subscriptions .label {
  font-weight: bold;
}

.subscriptions .value {
  border: 1px solid black;
  margin-left: 10px;
  padding: 2px;
}

.config {
  padding-left: 50px;
  padding-right: 50px;
}

form {
  padding-top: 20px;
  padding-left: 20px;
}

.form-group {
  padding-top: 5px;
}

.form-control {
  margin-left: 10px;
}

.subscriptions .buttons {
  margin-top: 20px;
}

.subscriptions .buttons Button {
  margin-left: 5px;
}

.menuBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.config {
  margin-top: 20px;
  padding-left: 20px;
  font-family: courier, sans-serif;
  font-size: 15px;
  white-space: pre;
}

.controlServer {
  margin-top: 10px;
  border-style: solid;
  padding: 10px;
}

.productListing {
  margin-top: 10px;
  border-style: solid;
  padding: 5px;
}

.submitBug {
  border: 1px solid black;
}

.moduleSource {
  border: 1px solid black;
  font-size: 15px;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 7px;
}

.moduleSource a {
  margin: 5px;
}

.includes {
  border-style: solid;
  border-width: 1px;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 7px;
  font-size: 15px;
}

.includes .selected {
  margin-left: 5px;
  font-weight: bold;
}

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
}

.caret.down{
  border-top-color: black;
  margin-left: 10px;
}

.caret.right {
  border-left-color: black;
  margin-left: 10px;
}

.deployVersion button {
  margin-top: 10px;
}

.deployVersion a {
  margin-left: 10px;
}

.deploymentPaused {
  margin-left: 10px;
}

.purchaseVideo a {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 30px;
}
